<ion-header [translucent]="true">
    <ion-toolbar *ngIf="!loading">
        <ion-title *ngIf="!loading">
            Select Region
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar *ngIf="!loading">
            <ion-title size="large">Select Region</ion-title>
        </ion-toolbar>
    </ion-header>


    <ion-list lines="full" *ngIf="!loading">
        <ion-item *ngFor="let reg of regions" (click)="selectRegion(reg.key)">
            <ion-label>{{ reg.key }}</ion-label>
            <ion-label>{{ reg.baseUrl }}</ion-label>
        </ion-item>
    </ion-list>

    <ng-container *ngIf="loading">
        <div class="spinner-wrapper">
            <ion-spinner></ion-spinner>
        </div>
    </ng-container>
</ion-content>
