<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Frontegg Ionic SDK
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Frontegg Ionic SDK</ion-title>
        </ion-toolbar>
    </ion-header>


    <br/>
    <ion-text>isLoading: {{user ? user.email : 'Not Logged In' }}</ion-text>
    <br/>
    <ion-text>isLoading: {{isLoading ? 'true' : 'false'}}</ion-text>
    <br/>
    <ion-text>isAuthenticated: {{isAuthenticated ? 'true' : 'false'}}</ion-text>
    <br/>
    <ion-text>Active Tenant: {{user?.activeTenant?.name}}</ion-text>
    <br/>
    <ion-text>
        accessToken:{{' '}}
        {{accessToken ? accessToken.substring(accessToken.length - 40) : ''}}
    </ion-text>
    <br/>
    <ion-text>Refreshing Token: {{refreshingToken ? "refreshing..." : 'false' }}</ion-text>
    <br/>
    <br/>


    <ion-button *ngIf="!isAuthenticated" (click)="login()">Login</ion-button>
    <ion-button *ngIf="isAuthenticated" (click)="logout()">Logout</ion-button>

    <br/>
    <br/>
    <ion-button *ngIf="isAuthenticated" (click)="refreshToken()">Refresh Token</ion-button>
</ion-content>
